<div ng-init="startSearchCourseFrom=0; startSearchInstructorFrom=0">
    <div class="ver-tab">
        <button class="tablinks" onclick="openTab(event, 'course-results')" id="default">Personal Info</button>
        <button class="tablinks" onclick="openTab(event, 'instructor-results')">Contact Info</button>
    </div>

    <div data-loading class="loading-circle"></div>

    <div id="course-results" class="ver-tabcontent">
        <div>{{courseList.length}} course(s) for: "{{filter}}"</div>
        <form class="form-filter-course" ng-show="courseList.length != 0">
            <div class="row">
                <div class="col-filter">
                    <h3>Price</h3>
                    <div>
                        <input type="number" id="from" name="from" ng-model="formprice" class="input-text from-to mr-pd-input-df" placeholder="form" /> -
                        <input type="number" id="to" name="to" ng-model="toprice" class="input-text from-to mr-pd-input-df" placeholder="to" />
                    </div>
                </div>
            </div>
        </form>
        <div class="ava-courses" ng-show="courseList.length != 0">
            <div class="card card-fit-2 col-lg-2 col-md-5 col-sm-6" ng-repeat="course in courseList | 
                                                                                filter: filterPrice('price', fromprice, toprice) | 
                                                                                limitTo: 5: startSearchCourseFrom">
                <div class="card-img">
                    <img src="http://localhost:8080/TigiProject/api/course/{{course.courseId}}/media/image">
                </div>
                <h2>{{course.description}}</h2>
                <p class="title" ng-class="{{course.courseId}}" current-instructor></p>
                <p class="info">{{course.description}}</p>
                <div class="card-body">
                    <!-- <del class="old-price">{{course.price | currency}}</del> -->
                    <span class="present-price">{{course.price | currency}}</span>
                </div>
                <p>
                    <!-- <a href="#" id="{{course.courseId}}" class="add-to-favorite" add-to-favorite><i class="far fa-heart fa-fw"></i></a> -->
                    <a href="#" id="{{course.courseId}}" class="add-to-cart" add-to-cart>
                        <i class="fas fa-cart-plus fa-fw"></i>
                    </a>
                    <a href="#/course/{{course.courseId}}" class="more-info-icon">
                        <i class="fas fa-info fa-fw"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="pagination" ng-show="courseList.length != 0">
            <a href="#" id="search-course-page-prev" style="display: inline-block;">&laquo;</a>
            <!-- <a href="#" nav-page-link ng-repeat="course in courses" ng-show="($index + 5) % 5 == 0" id="{{'startSearchCourseFromIndex' + $index}}" class="startSearchCourseFromIndex" ng-class="($index) == 0 ? 'active' : ''"> -->
            <!-- <span id="search-course-nav-page" style="display: inline-block;">{{startSearchCourseFrom + 1}} - {{startSearchCourseFrom + 5}} of {{courses.length}}</span> -->
            <!-- </a> -->
            <a href="#" id="search-course-page-next" style="display: inline-block;">&raquo;</a>
        </div>
    </div>

    <div id="instructor-results" class="ver-tabcontent">
        <div>{{instructorList.length}} instructor(s) for: "{{filter}}"</div>
        <div class="ava-courses" ng-show="instructorList.length != 0">
            <div class="card card-fit-2 col-lg-2 col-md-4 col-sm-6" ng-repeat="ins in instructorList | 
                                                                                limitTo: 5: startSearchInstructorFrom">
                <h2>{{ins.firstName}} {{ins.lastName}}</h2>
                <p class="info">{{course.description}}</p>
                <div class="card-body">
                    <!-- <del class="old-price">{{course.price | currency}}</del> -->
                    <span class="present-price">{{course.price | currency}}</span>
                </div>
                <p>
                    <!-- <a href="#" id="{{course.courseId}}" class="add-to-favorite" add-to-favorite><i class="far fa-heart fa-fw"></i></a> -->
                    <!-- <a href="#" id="{{course.courseId}}" class="add-to-cart" add-to-cart>
                                    <i class="fas fa-cart-plus fa-fw"></i>
                                </a> -->
                    <a href="#/course/{{course.courseId}}" class="more-info-icon">
                        <i class="fas fa-info fa-fw"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="pagination" ng-show="instructorList.length != 0">
            <a href="#" id="search-instructor-page-prev" style="display: inline-block;" class="{active : (startSearchInstructorFrom != 0)}">&laquo;</a>
            <!-- <a href="#" nav-page-link ng-repeat="course in courses" ng-show="($index + 5) % 5 == 0" id="{{'startSearchInstructorFromIndex' + $index}}" class="startSearchInstructorFromIndex" ng-class="($index) == 0 ? 'active' : ''"> -->
            <!-- <span id="search-instructor-nav-page" style="display: inline-block;">{{startSearchInstructorFrom + 1}} - {{startSearchInstructorFrom + 5}} of {{courses.length}}</span> -->
            <!-- </a> -->
            <a href="#" id="search-instructor-page-next" style="display: inline-block;" class="{active : (instructorList.length > 5)}">&raquo;</a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#default').click();
        })

        function openTab(evt, tabName) {
            $('.ver-tabcontent').css('display', 'none');
            $('.tablinks').removeClass('active');
            $('#' + tabName).css('display', 'block');
            $(evt.target).addClass('active');
        }

        $('#search-course-page-prev').on('click', function() {
            if ($(this).scope().startSearchCourseFrom == 0) {
                return false;
            }

            $(this).scope().startSearchCourseFrom -= 5;
            $(this).scope().$apply();

            return false;
        });

        $('#search-course-page-next').on('click', function() {
            if ($(this).scope().courseList.length < ($(this).scope().startSearchCourseFrom + 5 + 1)) {
                return false;
            }

            $(this).scope().startSearchCourseFrom += 5;
            $(this).scope().$apply();

            return false;
        });

        $('#search-instructor-page-prev').on('click', function() {
            if ($(this).scope().startSearchInstructorFrom == 0) {
                return false;
            }

            $(this).scope().startSearchInstructorFrom -= 5;
            $(this).scope().$apply();

            return false;
        });

        $('#search-instructor-page-next').on('click', function() {
            if ($(this).scope().courses.length < ($(this).scope().startSearchInstructorFrom + 5 + 1)) {
                return false;
            }

            $(this).scope().startSearchInstructorFrom += 5;
            $(this).scope().$apply();

            return false;
        });
    </script>
</div>