<div class="container">
    <div class="course-header row">
        <div class="col" style="width: 30%; height: auto; padding: 0; margin: 0;">
            <img src="http://192.168.1.13:8080/TigiProject/api/course/{{current.courseId}}/media/image" alt="Avatar">
        </div>
        <div class="col" style="width: 70%; height: auto; padding: 0 0 0 10px; margin: 0;">
            <p>
                <h1>{{current.description}}</h1>
            </p>
            <div class="subscribed-fr" ng-class="isSubcribed ? ['show'] : ['hidden']">
                <p>
                    <a id="btn-continue" href="#" class="continue">
                        <i class="fas fa-play"></i> Continue</a>
                </p>
                <p>75% completed</p>
                <div class="prog">
                    <div class="prog-bar prog-bar-striped prog-bar-animated"></div>
                </div>
            </div>
            <div class="demo-fr" ng-class="isSubcribed ? ['hidden'] : ['show']">
                <p style="margin-bottom: 20px;">
                    <a id="btn-watch-intro" href="#" class="continue" ng-class="{{current.courseId}}">
                        <i class="fas fa-play"></i> Watch Demo</a>
                </p>
                <p style="margin-top: 20px;">
                    <!-- <a href="#" class="favorite"><i class="far fa-heart"></i></a> -->
                    <a href="#" id="current.courseId" class="c-btn btn-add-to-cart" add-to-cart>
                        <i class="fas fa-cart-plus"></i> Add To Cart</a>
                    <a href="#" class="c-btn btn-buy-now">
                        <i class="fas fa-money-bill"></i> Buy Now</a>
                </p>
            </div>
        </div>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'overview')" id="default">Overview</button>
        <button class="tablinks" onclick="openTab(event, 'course-content')">Course Content</button>
        <button class="tablinks" onclick="openTab(event, 'rating-feedback')">Rating & Feedback</button>
        <button class="tablinks" onclick="openTab(event, 'related-courses')">Related Courses</button>
    </div>

    <!-- Tab content -->
    <div id="overview" class="tabcontent">
        <h2>Overview the Course</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula ligula, vel blandit ligula. Vivamus posuere dui eu accumsan interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus
            vehicula risus quis nisl posuere, id venenatis diam tincidunt. Integer at euismod justo. Phasellus mattis quam vitae magna elementum egestas porttitor eu est. Nullam eu felis consectetur, finibus sapien at, accumsan dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce vehicula aliquam ante, in imperdiet nulla. Proin porttitor erat et vulputate tristique. Quisque interdum elit in augue efficitur, a venenatis massa tempor. Duis
            in augue non arcu placerat vulputate ut vitae dui. Mauris erat urna, accumsan non orci nec, dictum sollicitudin nibh
        </p>

        <h2>Instructor: {{getCurrentInstructor()}}</h2>

        <p>
            Date created: {{current.dateCreated}}
        </p>

        <p>
            Last updated: {{current.lastUpdated}}
        </p>
    </div>

    <div id="course-content" class="tabcontent">
        <h2>Course Content</h2>
        <div ng-repeat="chapter in current.chapter">
            <button class="accordion" toggle-chapter>
                <h3>{{chapter}}</h3> <i class="fas fa-angle-down arrow"></i>
            </button>
            <div class="panel">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a>
                </div>
            </div>
        </div>
    </div>

    <div id="rating-feedback" class="tabcontent">
        <h2>Rating</h2>
        <div class="container">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average based on 254 reviews.</p>
            <hr style="border:3px solid #f1f1f1">

            <div class="row">
                <div class="side">
                    <div>5 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>150</div>
                </div>
                <div class="side">
                    <div>4 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-4"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>63</div>
                </div>
                <div class="side">
                    <div>3 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-3"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>15</div>
                </div>
                <div class="side">
                    <div>2 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-2"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>6</div>
                </div>
                <div class="side">
                    <div>1 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-1"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>20</div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Feedback</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div id="related-courses" class="tabcontent">
        <div class="course-container">
            <div>
                <h2>Related Course: <span class="more-link"><a href="#"><i class="fas fa-plus"></i> More...</a></span></h2>
            </div>
            <div class="ava-courses">
                <div class="card card-fit-2 col-lg-2 col-md-4 col-sm-6" ng-repeat="course in relatedcourses">
                    <img ng-src="{{course.imageUrl}}">
                    <h2>{{course.description}}</h2>
                    <!-- <p class="title">{{course.instructor}}</p> -->
                    <p class="info">{{course.description}}</p>
                    <div class="card-body">
                        <del class="old-price">{{course.price | currency}}</del>
                        <span class="present-price">{{course.price | currency}}</span>
                    </div>
                    <p>
                        <a href="#/course/{{course.id}}" class="more-info">More info...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="media-player-intro-model" class="media-player-intro-model">

    </div>

    <script>
        $(window).on('click', function() {
            if ($('#media-player-intro-model').hasClass('show')) {
                $('#media-player-intro-model').removeClass('show');
            }
        });

        $('.media-player-intro-model').on('click', function(event) {
            event.stopPropagation()
        })

        $('#default').click();

        function openTab(evt, tabName) {
            $('.tabcontent').css('display', 'none');
            $('.tablinks').removeClass('active');
            $('#' + tabName).css('display', 'block');
            $(evt.target).addClass('active');
        }

        $('#btn-watch-intro').on('click', function(event) {
            $(this).scope().watchIntro();
            $(this).scope().$apply();
            initIntroVideoPopup();
            $('#media-player-intro-model').toggleClass('show');
            return false;
        });

        function initIntroVideoPopup() {
            $('#media-player-intro-model').append('<div id="media-player-intro" class="animate">' +
                '<video id="media-video-intro" class="video-js vjs-big-play-centered" controls data-setup="{}">' +
                '<source src="http://localhost:8080/TigiProject/api/course/1/media/video" type="video/mp4"/>' +
                '<p class="vjs-no-js"> Please upgrade your browser </p>' +
                '</video>' +
                '</div>')

            initIntroVideo();
        }

        //media-player-ctrl
        function initIntroVideo() {
            var video = videojs('media-video-intro', {
                playbackRates: [.5, 1, 1.5, 2],
                fluid: true,
                plugins: {
                    hotkeys: {
                        seekStep: 10,
                        volumeStep: 0.1,
                        enableMute: true,
                        enableFullScreen: true,
                        enableNumbers: true,
                    }
                }
            });

            video.ready(function() {
                console.log(video);

                $('.vjs-play-progress').addClass('media-play-prog-striped media-prog-animated');
                $('.vjs-volume-level').addClass('ctrl-volume-level');

                setTimeout(() => {
                    this.play();
                }, 5000);
            });

            video.on('timeupdate', function() {
                if ((video.duration() - video.currentTime()) <= 5) {
                    videojs.log('completed!');
                }
            });

            video.on('play', function() {
                videojs.log('Play');
            });

            video.on('pause', function() {
                videojs.log('Pause');
            });

            video.on('ended', function() {
                $('.vjs-play-progress').removeClass('media-prog-animated');
                videojs.log('Ended');
            });
        }
    </script>
</div>