<div>
    <div id="chapter-nav" class="sidenav">
        <a id="back-side-nav" href="#" class="backbtn">Back</a>
        <a id="close-side-nav" href="javascript:void(0)" class="closebtn">&times;</a>
        <div ng-repeat="chapter in resources">
            <button class="accordion" style="font-size: 18px;" toggle-chapter>Chapter {{chapter.chapter}}: {{chapter.title}}</button>
            <div class="panel">
                <div class="list-group" style="font-size: 16px;">
                    <a href="#" ng-repeat="subchap in chapter.courseResources" ng-class="{{subchap}}" class="list-group-item list-group-item-action" style="font-size: 16px;" navigate-chapter>{{subchap.title}}</a>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <div id="media-player-learn">
            <video id="media-video-learn" class="video-js vjs-big-play-centered" controls data-setup="{}">
                <source src="http://localhost:8080/TigiProject/api/course/resource/15/media/video" type="video/mp4" />
                <p class="vjs-no-js">Please upgrade your browser</p>
            </video>
            <span id="toggle-side-nav">&#9776;</span>
        </div>
    </div>

    <div id="main-file">

    </div>

    <div id="btn-init-video" class="hidden" onclick="changeCourse()"></div>
    <script>
        var video;

        $(document).ready(function() {
            $('#media-player-learn').append();

            initVideoLearn();
        });

        $('#back-side-nav').on('click', function() {
            $(this).scope().outCourse();

            // video.pause();
            return false;
        })

        $(document).unload(function() {
            alert("Bye");
        });

        $('#toggle-side-nav').on('click', function() {
            $('#chapter-nav').css('width', '270px');
            $('#main').css('margin-left', '270px');
            $('#toggle-side-nav').fadeOut('fast');
        });

        $('#close-side-nav').on('click', function() {
            $('#chapter-nav').css('width', '0');
            $('#main').css('margin-left', '0');
            $('#toggle-side-nav').fadeIn('fast');
        });

        function changeCourse() {
            // alert();
            // initVideoLearn();
            // video.src($('#btn-init-video').scope().sourceVideo);
            video.load();
            video.play();
        }

        function initVideoLearn() {
            // if (video != null && video != undefined) {
            //     video.destroy();
            // }

            video = videojs('media-video-learn', {
                playbackRates: [.5, 1, 1.5, 2],
                fluid: true,
                plugins: {
                    hotkeys: {
                        seekStep: 10,
                        volumeStep: 0.1,
                        enableMute: true,
                        enableFullScreen: true,
                        enableNumbers: true,
                    }
                }
            });

            video.ready(function() {
                console.log(video);

                $('.vjs-play-progress').addClass('media-play-prog-striped media-prog-animated');
                $('.vjs-volume-level').addClass('ctrl-volume-level');

                setTimeout(() => {
                    this.play();
                }, 5000);
            });

            video.on('timeupdate', function() {
                if ((video.duration() - video.currentTime()) <= 5) {
                    videojs.log('completed!');
                }
            });

            video.on('play', function() {
                videojs.log('Play');
            });

            video.on('pause', function() {
                videojs.log('Pause');
            });

            video.on('ended', function() {
                $('.vjs-play-progress').removeClass('media-prog-animated');
                videojs.log('Ended');
            });
        }
    </script>
</div>