<div>
    <table class="course-table" ng-show="getCartDetails().length != 0">
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Price</th>
            <th colspan="2">Action</th>
        </tr>
        <tr ng-repeat="course in getCartDetails()">
            <td>{{course.course.id}}</td>
            <td>{{course.course.description}}</td>
            <td>{{course.course.price}}</td>
            <td>
                <a href="#/course/{{course.course.id}}" more-course-info class="action-link">
                    <i class="far fa-eye"></i>
                </a>
            </td>
            <td>
                <a href="#" class="action-link" ng-class="{{course.course.id}}" delete-course>
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    </table>

    <div id="checkout-model" class="checkout-model">
        <div class="checkout-model-content animate">
            <table class="course-table">
                <tr>
                    <th>Course Id</th>
                    <th>Course Name</th>
                    <th>Price</th>
                </tr>
                <tr ng-repeat="course in order.orderDetails">
                    <td>{{course.course.id}}</td>
                    <td>{{course.course.description}}</td>
                    <td>{{course.course.price}}</td>
                </tr>
            </table>

            <p>Total Course: {{order.orderDetails.length}}</p>

            <p>Total Price: {{totalPrice}}</p>

            <p>Shipping Address: {{order.shipToAddress.addressLine1}}, {{order.shipToAddress.city}}, {{order.shipToAddress.state}}.</p>

            <div style="overflow:auto; margin-top: 20px;">
                <div style="float:right;">
                    <input type="button" id="btn-pay-all" name="btn-pay-all" value="Pay All" class="c-btn c-btn-sm" style="width: auto;" />
                </div>
            </div>
        </div>
    </div>

    <div style="overflow:auto;" ng-show="getCartDetails() != 0">
        <div style="float:right;">
            <input type="button" id="btn-buy-all" name="btn-buy-all" value="Buy All" class="c-btn c-btn-sm" style="width: auto;" />
        </div>
    </div>

    <div ng-show="getCartDetails() == 0" style="text-align: center;">Your cart will be here! Do you want to <a href="#/course" class="refresh-link">order some course</a>?</div>

    <script>
        $(window).on('click', function() {
            if ($('.checkout-model').hasClass('show')) {
                $('.checkout-model').removeClass('show');
            }
        });

        $('#btn-buy-all').on('click', function(event) {
            $(this).scope().buyAllCart();
            $(this).scope().$apply();
            $('#checkout-model').toggleClass('show');
            return false;
        });

        $('#btn-pay-all').on('click', function(event) {
            $(this).scope().payOrder();
            $(this).scope().$apply();
            if ($('#checkout-model').hasClass('show')) {
                $('#checkout-model').removeClass('show');
            }
            return false;
        });
    </script>
</div>