<div ng-init="startAdminInstructorFrom = 0">
    <div>
        <form class="form-filter-course">
            <div class="row">
                <div class="col-filter">
                    <h3>Type anything</h3>
                    <div>
                        <input type="text" id="filterText" name="filterText" ng-model="filterText" class="input-text mr-pd-input-df" placeholder="type anything" />
                    </div>
                </div>
                <div class="col-filter">
                    <h3>Language</h3>
                    <select class="c-cbo mr-pd-input-df" ng-model="filterLang">
                        <option value="" selected>All</option>
                        <option value="java">Java</option>
                        <option value="csharp">CSharp</option>
                    </select>
                </div>
                <div class="col-filter">
                    <h3>Number of Course</h3>
                    <div>
                        <input type="number" id="fromicc" name="fromicc" ng-model="fromicc" class="input-text from-to mr-pd-input-df" placeholder="From" /> -
                        <input type="number" id="toicc" name="toicc" ng-model="toicc" class="input-text from-to mr-pd-input-df" placeholder="To" />
                    </div>
                </div>
                <div class="col-filter">
                    <span><a href="#" id="refresh-admin-instructors" class="refresh-link"><i class="fas fa-sync"></i></a></span>
                </div>
            </div>
        </form>
    </div>

    <table class="course-table">
        <tr>
            <th>Name</th>
            <th>Full Name</th>
            <th>Number of course</th>
            <th colspan="3">Action</th>
        </tr>
        <tr ng-repeat="instructor in instructors | 
        filter: instructor.userName = filterText | 
        filter: instructor.firstName = filterText | 
        filter: instructor.lastName = filterText | 
        filter: filterCoursesOrder('userCourseOwners', fromicc, toicc) | 
        limitTo: 5: startAdminInstructorFrom">
            <td>{{instructor.userName}}</td>
            <td>{{instructor.firstName}} {{instructor.lastName}}</td>
            <td>{{instructor.userCourseOwners.length}}</td>
            <td><a href="#/instructor/{{instructor.userName}}" class="action-link"><i class="fas fa-eye"></i></a></td>
            <td><a href="#/instructor/{{instructor.userName}}" class="action-link"><i class="far fa-edit"></i></a></td>
            <td><a href="#" class="action-link"><i class="far fa-trash-alt"></i></a></td>
        </tr>
    </table>

    <div class="pagination">
        <a href="#" id="admin-instructor-page-prev">&laquo;</a>
        <!-- <a href="#" nav-page-link ng-repeat="instructor in instructors" ng-show="($index + 5) % 5 == 0" id="{{'startAdminInstructorFromIndex' + $index}}" class="startAdminInstructorFromIndex" ng-class="($index) == 0 ? 'active' : ''"> -->
        <!-- <span id="admin-instructor-nav-page">{{startAdminInstructorFrom+ 1}} - {{startAdminInstructorFrom + 6}} of {{instructors.length}}</span> -->
        <!-- </a> -->
        <a href="#" id="admin-instructor-page-next">&raquo;</a>
    </div>

    <script>
        $('#refresh-admin-instructors').on('click', function() {
            $('#filterLang').val('');
            $('#filterText').val('');
            $('#formicc').val('');
            $('#toicc').val('');

            $(this).scope().filterLang = '';
            $(this).scope().filterText = '';
            $(this).scope().formicc = undefined;
            $(this).scope().toicc = undefined;
            $(this).scope().startAdminInstructorFrom = 0;
            $(this).scope().$apply();

            return false;
        });

        $('#admin-instructor-page-prev').on('click', function() {
            if ($(this).scope().startAdminInstructorFrom == 0) {
                return false;
            }

            $(this).scope().startAdminInstructorFrom -= 5;
            $(this).scope().$apply();

            return false;
        });

        $('#admin-instructor-page-next').on('click', function() {
            if ($(this).scope().instructors.length < ($(this).scope().startAdminInstructorFrom + 5 + 1)) {
                return false;
            }

            $(this).scope().startAdminInstructorFrom += 5;
            $(this).scope().$apply();

            return false;
        });
    </script>
</div>