<div class="container">
    <div class="ver-tab">
        <button class="tablinks" onclick="openTab(event, 'personal-info')" id="default">Personal Info</button>
        <button class="tablinks" onclick="openTab(event, 'contact-info')">Contact Info</button>
        <button class="tablinks" onclick="openTab(event, 'change-pass')">Change Password</button>
    </div>

    <div id="personal-info" class="ver-tabcontent">
        <h2>Personal Info</h2>
        <form ng-submit="editPersonalInfo()" id="personal-info-form" class="form-full-width" style="width: 100%;">
            <div class="row">
                <div class="col" style="width: 100%; padding: 0px;">
                    <label for="firstName"><b>First Name</b></label>
                    <input type="text" id="firstName" name="firstName" ng-model="$root.curLogin.firstName" class="input-text mr-pd-input-df" placeholder="Enter First Name" ng-value="current.firstName" required>

                    <label for="lastName"><b>Last Name</b></label>
                    <input type="text" id="lastName" name="lastName" ng-model="$root.curLogin.lastName" class="input-text mr-pd-input-df" placeholder="Enter Last Name" ng-value="current.lastName" required>

                    <label for="gender"><b>Gender</b></label>
                    <select id="gender" ng-model="$root.curLogin.gender" class="c-cbo mr-pd-input-df">
                        <option>--Select--</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>

                    <label for="dob"><b>Date of Birth</b></label>
                    <input type="date" id="dob" ng-model="$root.curLogin.dob" name="dob" class="input-text mr-pd-input-df" ng-value="current.dob" required/>

                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <input type="submit" id="btn-personal-info" name="btn-personal-info" value="Save" class="c-btn c-btn-sm" style="width: auto;">
                            <input type="reset" id="btn-clear-info" name="btn-clear-info" value="Clear" class="c-btn c-btn-df" style="width: auto;">
                            <input type="button" id="btn-reset-info" name="btn-reset-info" value="Reset" class="c-btn c-btn-rs" style="width: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="contact-info" class="ver-tabcontent">
        <h2>Contact Info</h2>
        <form ng-submit="editContactInfo()" id="contact-info-form" class="form-full-width" style="width: 100%;">
            <div class="row">
                <div class="col" style="width: 100%; padding: 0px;">
                    <label for="email"><b>Email</b></label>
                    <input type="email" id="email" ng-model="$root.curLogin.email" name="email" class="input-text mr-pd-input-df" placeholder="Enter Email" required>

                    <label for="phoneNumber"><b>Phone</b></label>
                    <input type="tel" id="phoneNumber" ng-model="$root.curLogin.phoneNumber" name="phoneNumber" class="input-text mr-pd-input-df" placeholder="Enter Phone" required>

                    <h3>Additional Contact Info - Billing Address</h3>
                    <label for="billingZipCode"><b>Address Zipcode</b></label>
                    <input type="text" id="billingZipCode" ng-model="$root.curLogin.billingZipCode" name="billingZipCode" class="input-text mr-pd-input-df" placeholder="Enter Address Zipcode" required>

                    <label for="billingState"><b>Address State</b></label>
                    <input type="text" id="billingState" ng-model="$root.curLogin.billingState" name="billingState" class="input-text mr-pd-input-df" placeholder="Enter Address State" required>

                    <label for="billingCity"><b>Address City</b></label>
                    <input type="text" id="billingCity" ng-model="$root.curLogin.billingCity" name="billingCity" class="input-text mr-pd-input-df" placeholder="Enter Address City" required>

                    <label for="billingAddressLine1"><b>Address Line</b></label>
                    <input type="text" id="billingAddressLine1" ng-model="$root.curLogin.billingAddressLine1" name="billingAddressLine1" class="input-text mr-pd-input-df" placeholder="Enter Address Line" required>

                    <h3>Additional Contact Info - Shipping Address</h3>
                    <label for="shippingZipCide">
                        <b>Address Zipcode</b>
                    </label>
                    <input type="text" id="shippingZipCide" ng-model="$root.curLogin.shippingZipCide" name="shippingZipCide" class="input-text mr-pd-input-df" placeholder="Enter Address Zipcode" required>

                    <label for="shippingState">
                        <b>Address State</b>
                    </label>
                    <input type="text" id="shippingState" ng-model="$root.curLogin.shippingState" name="shippingState" class="input-text mr-pd-input-df" placeholder="Enter Address State" required>

                    <label for="shippingCity">
                        <b>Address City</b>
                    </label>
                    <input type="text" id="shippingCity" ng-model="$root.curLogin.shippingCity" name="shippingCity" class="input-text mr-pd-input-df" placeholder="Enter Address City" required>

                    <label for="shippingAddressLine1">
                        <b>Address Line</b>
                    </label>
                    <input type="text" id="shippingAddressLine1" ng-model="$root.curLogin.shippingAddressLine1" name="shippingAddressLine1" class="input-text mr-pd-input-df" placeholder="Enter Address Line" required>

                    <hr/>
                    <label>Links</label>
                    <input type="url" id="fb-link" name="fb-link" class="input-text mr-pd-input-df" placeholder="Your Facebook Link" required>
                    <input type="url" id="gg-link" name="gg-link" class="input-text mr-pd-input-df" placeholder="Your Google Plus Link" required>
                    <input type="url" id="tw-link" name="tw-link" class="input-text mr-pd-input-df" placeholder="Your Twitter Link" required>

                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <input type="submit" id="btn-contact-info" name="btn-contact-info" value="Save" class="c-btn c-btn-sm" style="width: auto;">
                            <input type="reset" id="btn-clear-contact-info" name="btn-clear-contact-info" value="Clear" class="c-btn c-btn-df" style="width: auto;">
                            <input type="button" id="btn-reset-contact-info" name="btn-reset-contact-info" value="Reset" class="c-btn c-btn-rs" style="width: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="change-pass" class="ver-tabcontent">
        <h2>Change Password</h2>
        <form ng-submit="changePass()" id="change-pass-form" class="form-full-width" style="width: 100%;">
            <div class="row">
                <div class="col" style="width: 100%; padding: 0px;">
                    <label for="old-pass"><b>Old Password</b></label>
                    <input type="password" id="old-pass" name="old-pass" class="input-text mr-pd-input-df" placeholder="Enter Old Password" required>

                    <label for="new-pass"><b>New Password</b></label>
                    <input type="password" id="new-pass" ng-model="newPass" name="new-pass" class="input-text mr-pd-input-df" placeholder="Enter New Password" required>

                    <label for="pass-repeat"><b>Password Repeat</b></label>
                    <input type="password" id="pass-repeat" name="pass-repeat" class="input-text mr-pd-input-df" placeholder="Enter New Password Again" required>

                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <input type="submit" id="btn-change-pass" name="btn-change-pass" value="Save" class="c-btn c-btn-sm" style="width: auto;">
                            <input type="reset" id="btn-clear-change-pass" name="btn-clear-change-pass" value="Clear" class="c-btn c-btn-df" style="width: auto;">
                            <input type="button" id="btn-reset-change-pass" name="btn-reset-change-pass" value="Reset" class="c-btn c-btn-rs" style="width: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('#default').click();
        })

        function openTab(evt, tabName) {
            $('.ver-tabcontent').css('display', 'none');
            $('.tablinks').removeClass('active');
            $('#' + tabName).css('display', 'block');
            $(evt.target).addClass('active');
        }
    </script>
</div>