.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 60px
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .backbtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 16px;
    margin-left: 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.course-header .col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*media player*/

#media-player-learn {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#media-player-learn:focus {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

#media-video-learn {
    width: 100%;
    height: auto;
}

#media-player-learn #toggle-side-nav {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10000;
}

.media-player-intro-model {
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7% 15%;
}

.media-player-intro-content {
    background-color: #444444;
    padding: 10px 10%;
    margin: 1% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

#media-player-intro {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#media-player-intro:focus {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

#media-video-intro {
    width: 100%;
    height: auto;
}

.ctrl-volume-level {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 0.625rem 0.625rem;
    background-color: #00bc8c !important;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0.625rem 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0.625rem 0
    }
}

.media-play-prog-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 0.625rem 0.625rem;
    background-color: #00bc8c !important;
}

.media-prog-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.show {
    display: block;
}