<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC Demo</title>

    <!-- External Stylesheet -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
          media="screen">
    <link rel="stylesheet" media="screen"
          href="../../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}">
</head>
<body>
<div th:replace="fragments/header :: header(currentUser = ${currentUser})"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Update Password Form</h2>
            </div>
        </div>
        <div class="row">
            <div th:if="${message} != null">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${message}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col-sm-8"
                  th:action="@{/user/uptPassword}" method="post">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}">
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" for="inputPassword">Password:</label>
                    <input type="password" class="form-control" id="inputPassword" name="password"
                           required>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" for="inputConfirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
                           required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>
</main>
</body>
</html>
