<div ng-init="modify=0">
    <section class="jumbotron">
        <div class="container">
            <h1 style="text-align: center; margin: 0 auto 2% auto;">Manage
                <span class="topnav-brand">ToDayIGotIt</span>
            </h1>

            <div class="row" style="display: flex;">
                <div id="course-ctrl" class="admin-ctrl col-lg-3 col-md-3 col-sm-3" style="flex: 1;">
                    <h2>{{totalCourses}} Courses
                        <i class="fas fa-code"></i>
                    </h2>
                    <p>Manage all courses on website</p>
                </div>
                <div id="instructor-ctrl" class="admin-ctrl col-lg-3 col-md-3 col-sm-3" style="flex: 1;">
                    <h2>{{totalInstructors}} Instructors
                        <i class="fas fa-chalkboard-teacher"></i>
                    </h2>
                    <p>Manage all instructor on website</p>
                </div>
                <div id="user-ctrl" class="admin-ctrl col-lg-3 col-md-3 col-sm-3" style="flex: 1;">
                    <h2>{{totalUsers}} Users
                        <i class="fas fa-user"></i>
                    </h2>
                    <p>Manage all user on website</p>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron">
        <h2 class="hh">Course's Statistic</h2>
        <div class="row">
            <statistic-course-buy dpmostbuy="courseMostBuy"></statistic-course-buy>
            <statictic-course-rate dpmostrate="courseMostRate"></statictic-course-rate>
        </div>
    </section>

    <section class="jumbotron">
        <div class="row" style="display: flex">
            <h2 class="hh col">Receipt</h2>
            <select ng-model="receiptType" ng-change="changeReceipt()" class="c-cbo mr-pd-input-df col" style="width: auto; height:auto;">
                <option value="day" selected>Day</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
        <div class="row">
            <div class="col col-df" style="width: 5%;"><span class="fas fa-angle-left fa-fw" ng-click="receiptPrevNext(-1)"></span></div>
            <statistic-receipt dpreceipt="receipt"></statistic-receipt>
            <div class="col col-df" style="width: 5%;"><span class="fas fa-angle-right fa-fw" ng-click="receiptPrevNext(1)"></span></div>
        </div>
    </section>

    <section class="jumbotron">
        <h2 class="hh">Instructor(s) has best seller course</h2>
        <div class="row">
            <statistic-ins-most-buy dpins="insmostbuy"></statistic-ins-most-buy>
        </div>
    </section>

    <section class="jumbotron">
        <h2 class="hh">Student(s) has most buyed course</h2>
        <div class="row">
            <statistic-user-most-buy dpuser="usermostbuy"></statistic-user-most-buy>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            $('#course-ctrl').on('click', function() {
                document.location.href = "#/admin/course";
            });

            $('#instructor-ctrl').on('click', function() {
                document.location.href = "#/admin/instructor";
            });

            $('#user-ctrl').on('click', function() {
                document.location.href = "#/admin/user";
            });
        });
    </script>
</div>