<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SignIn</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
          media="screen">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/css/spring-core.css}">
</head>

<body >
<div th:replace="fragments/login-header :: header"></div>

<main class="text-center login-main" role="main">
    <div class="container-fluid">
        <form class="form-signin" th:object="${loginForm}" th:action="@{/login}" method="post">
            <img class="mb-4" src="../static/images/bootstrap-solid.svg"
                 th:src="@{/images/bootstrap-solid.svg}"
                 alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>


            <div th:if="${param.error}" class="alert alert-danger">
                <p>Invalid username and password.</p>
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                <p>You've been logged out.</p>
            </div>

            <label for="username" class="sr-only">Username: </label>
            <input type="text" id="username" class="form-control" name="username" placeholder="Username" required
                   autofocus>

            <label for="password" class="sr-only">Password: </label>
            <input type="password" id="password" class="form-control" name="password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
